
  <div class="wrapper">


    <div class="main-title">Kategori</div>
    <div class="row-4 clearfix">
      <div class="col-1-4">

      <%=render 'shared/accord'%>
      </div>
      <div class="col-1-4">
        <%=render 'shared/accord'%>
      </div>
      <div class="col-1-4">
        <%=render 'shared/accord'%>
      </div>
      <div class="col-1-4">
        <%=render 'shared/accord'%>
      </div>
    </div>
    <div class="main-title"> <i class="far fa-gem ml-1"></i> Premium Membership</div>
    <div class="row-4 clearfix">
      <div class="col-1-4">

      <%=render 'shared/premiuma'%>
      </div>
      <div class="col-1-4">

      <%=render 'shared/premiumb'%>
      </div>
      <div class="col-1-4">

      <%=render 'shared/premiumc'%>
      </div>
      <div class="col-1-4">

        <%=render 'shared/premiumd'%>
      </div>
    </div>

      <%=render 'shared/slidefooter'%>
    </div>
