

<nav>
          <ul class="navigation">
            <li><a title="Menu" onclick="toggleMenu()">☰ Menu</a>
            </li>
            <li><a class="active" href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="form.html">Form</a></li>
            <li><a href="works.html">How it Works</a></li>
            <li><a href="testimonials.html">Testimonials</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><%= link_to "Sign up now!", signup_path%></li>

            <% if logged_in? %>
            <li><%= link_to "Users", "#" %></li>
            <li><%= link_to "Profile", current_user %></li>
            <li><%= link_to "Settings", "#" %></li>
            <li><%= link_to "Log out", logout_path, method: :delete %></li>
            <% else %>
            <li><%= link_to "Log in", login_path %></li>
            <% end %>
          </ul>
        </nav>
        <script type="text/javascript">
          function toggleMenu() {
	document.getElementsByClassName("navigation")[0].classList.toggle("responsive");
}
        </script>
